<app-header></app-header>

<div class="container">
    <div class="confirmation-container">
        <h1>this is Order Confirm</h1>
        <p>Cam on ban đã đặt hàng! Dưới đây là thông tin chi tiết về đơn hàng của bạn.</p>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">San pham</th>
                    <th scope="col">So luong</th>
                    <th scope="col">Don gia</th>
                    <th scope="col">Tong gia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="product-info">
                        <img src="https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="product-image" alt="">
                        <span class="product-name">Ten san pham ne</span>
                    </td>
                    <td class="">2</td>
                    <td>100,000 đ</td>
                    <td>100,000 đ</td>
                </tr>
                <tr>
                    <td class="product-info">
                        <img src="https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="product-image" alt="">
                        <span class="product-name">Ten san pham ne</span>
                    </td>
                    <td class="">2</td>
                    <td>100,000 đ</td>
                    <td>100,000 đ</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-3">
            <button class="btn btn-gradient" type="button">
                Tiep tuc mua sam
            </button>
        </div>
    </div>
</div>

<app-footer></app-footer>