<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="register-form mx-auto">
                <h2 class="register-header">
                    Dang ky
                </h2>
                <div class="form-group">
                    <label for="email" class="">Email/Phone</label>
                    <input type="text" class="form-control" id="email">
                    <div class="divider-nonspace"></div>
                </div>
                <div class="mt-3"></div>
                <div class="form-group password-field">
                    <label for="password" class="">Mat khau</label>
                    <input type="password" placeholder="it nhét 3 k9 tu" class="form-control" id="password">
                    <i class="password-toggle fas fa-eye-slash"></i>
                    <div class="divider-nonspace"></div>
                </div>
                <div class="mt-3"></div>
                <div class="form-group password-field">
                    <label for="confirm-password">Nhap lai mat khau</label>
                    <input type="password" placeholder="it nhét 3 k9 tu" class="form-control" id="confirm-p">
                    <i class=" password-toggle fas fa-eye-slash"></i>
                    <div class="divider-nonspace"></div>
                </div>
                <div class="mt-3"></div>
                <div class="form-group">
                    <label for="full-name" class="">Ho va ten</label>
                    <input type="text" class="form-control" id="full-name">
                    <div class="divider-nonspace"></div>
                </div>
                <div class="mt-3"></div>
                <div class="form-group">
                    <label for="address" class="">Dia chi</label>
                    <input type="text" class="form-control" id="address">
                    <div class="divider-nonspace"></div>
                </div>
                <div class="form-group">
                    <div class="form-check checkbox-text">
                        <span sty1e="display: flex;">
                            <input type="checkbox" class="form-check-input" id="agree">
                            <label class="form-check-label text-start" for="agree">Toi dong y voi cac dieu khoan va dieu
                                kien</label>
                        </span>
                    </div>
                </div>
                <button type="button" class="register-button">Dang ky</button>
                <div class="divider"></div>
                <p class="text-center">Ban da co tai khoan?
                    <span>
                        <a href="#" class="register-link">Dang nhap</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>